.nicht-drucken {
	display: none;
	}

.inhaltscontainer {
/*	width: 750px;
	font-size: 0.8em;*/

	font-size: 0.9em;
}
.blauetabelle {
	border: 1px #000000;
	border-style: solid;
}
.blauetabelle th {
	border: 1px #000000;
	border-style: solid;
	color: #000000;
	background-color: #CCCCCC;
	padding: 3px;
	margin: 4px;
}
.blauetabelle td {
	padding: 3px;
	border: 1px #000000;
	border-style: solid;
}
/* Aufgabenblatt ------------------------------------------------------- */
.aufgabenblatt {
	width: 100%;
}
